*,
body{
    box-sizing: border-box;
    padding:0;
    margin: 0;
   
}
.flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 10vh;
    width: auto;
}
#map{
    height: 80vh;
    width: 90%;
    margin-bottom: 2vh;
}

.map{
    position: sticky !important;
}

footer{
    background-color: black;
    height: 8vh;
}
.footer{
    margin: 1rem;
}
.footer a{
    color: white;
}

.btn{
  background: #99cc60;
  color: black;
  border-radius: 20px;
  padding: 1% 5%;
  border: 1px solid #99cc60;
  cursor: pointer;
}

.btn:hover{
  background: #ccff90;
}
